p {
  font-family: Lato;
}

.example-margin {
  margin: 0px 10px;
}

.example-form-field {
  width: 400px;
}
.myCard{
  height: min-content;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgb(68, 66, 77) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(35, 63, 216) !important;
}

.checkboxes-left {
  text-align: center;
  margin-left: 0px;
}

.checkboxes-center {
  text-align: center;
  margin-left: 20%;
  padding-right: 300px;
}

.myLastNamebox {
  margin: 0px 0px 20px 60px;
  display: inline-block;
}

.myFirstNamebox {
  margin: 0px 0px 0px 0px;
  display: inline-block;
}

.myEmailText {
  margin-top: 5px;
  width: 72%;
}
.button {
  background-color: rgb(22, 75, 248);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

table,
th,
td {
  border: 1px solid;
  margin: 0px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
