p {
  font-family: Lato;
}

::ng-deep .mat-form-field-flex {
  background: local !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0px !important;
}
.myButton {
  background-color: #336dff;
  text-decoration: solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  border-radius: 10px;
  width: 100px;
  font-weight: 500;
  font-size: larger;
  margin-left: 150px;
}

.name-fields {
  width: 50px;
}

.example-form {
  min-width: 150px;
  width: 98%;
  margin-left: 10px;
}

.example-full-width {
  width: 100%;
}

.example-margin {
  margin: 0px 0px;
}

.example-section {
  margin: 12px 0px;
  width: 50%;
  margin-left: 10px;
}

#myCard {
  border-radius: 2em;
}
.submitForm {
  justify-content: center;
  align-content: center;
  align-items: stretch;
  display: flex;
}

.alert {
  color: red;
  font-size: 16px;
  margin-left: 20px;
}

.myError {
  float: left;
}

.example-form-field {
  width: 50%;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgb(68, 66, 77) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(35, 63, 216) !important;
}

.checkboxes-center {
  margin-left: 180px;
}

.button {
  background-color: rgb(22, 75, 248);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.example-container.mat-elevation-z8 {
  border-radius: 3em;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent !important;
}

#userTable thead,
#userTable th {
  background-color: #336dff;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
  border-bottom: none;
  color: white;
}

#userTable td {
  text-align: center;
  color: rgb(43, 6, 58);
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  width: 100%;
  border-top: none;
  border-bottom: none;
}

.example-container.mat-elevation-z8 {
  margin-top: 10px;
}

.mat-column-id {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-first_name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-last_name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 24% !important;
  width: 24% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-email {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 22% !important;
  width: 22% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-gender {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  justify-content: center;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding-right: 24px !important;
}

.noMargin {
  margin: 25px 0px;
  margin-left: 10px;
}
